
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e6a071;
    color: darkslategray;
    overflow-x: hidden;
    
    
}

header {
    display: flex;
    color: #e6a071;
    text-align: center;
    height:180px;
   
}

h1 {
position:relative;
font-size: 40px;
left: 22%;
    width: 100%;
    padding: 50px; 
    display: flex;
    
    color: white;
    font-weight: bold;
    
}

h1 span {
    display: inline-block;
    animation: fadeIn ease-out 5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 3%; 
    display: flex;
    
    justify-content:space-between; 
    z-index: 2;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px; 
}

nav ul li a {
    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
    text-decoration: none;
    color: #e6a071;
}

nav a:hover {
    padding-left:10px; }


.container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    
}

.column {
    font-family: "Dancing script", cursive;
    flex: 1;
    margin: 10px;
    padding: 20px;
    overflow:hidden;
    background-color: white;

}

.column p { font-family: cursive;
    line-height: 1.6;
    font-size: 15px;
    color: darkslategrey;
}

h2 { 
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}


.dancing-script-letter {                                  /* Source : https://fonts.google.com */
font-family: "Dancing Script", cursive;
font-style: normal;
}



img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #e6a071;
    color: #fff;

}



#nav a:link {
    color : white;
    text-decoration:none;
    font-weight:bold;

}
#nav a:visited { 
    color:white; }
    #nav a:focus, #nav a:hover, #nav a:active {
        color:grey;

    }

    @media only screen and (max-width: 768px) {
        .container {
            flex-direction: column;
        }
    
    
        .column {
            flex: 100%;
            margin: 10px 0;
        }

        #nav { display: flex ;

        }

        
            
            h1 {
                position: relative;
                top : 0 ;
                left: 0 ;
                justify-content: space-between;
                display: flex;
                font-size: 30px;
            
    }
    header {
        padding: 10px; 
    }

    nav ul li a { 
    
        display: flex ;
        font-size: 15px;
    }
}
            
    

            
                    
                
       

            
            