body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  overflow-x: hidden;
  
}

.dancing-script-letter {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-style: normal;
  color:#e6a071;
  margin-bottom:20px;
}

/* Image */
.contact-image { 
  padding:30px 0 ;
  max-width: 100%;
  }
 /* title animation fadeIn source: WEBD5 Advanced CSS ILS Hamburg */
h1 {
    padding : 10px;
    font-size: 50px;
    text-align: center;
}

h1 span {
  display: inline-block;
  animation: fadeIn ease-out 8s;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
 /* Column flex container */
  .container { display: flex;
      flex-direction:column;
      align-items:flex-start;
    }

    /*Column style */
    .column { 
      flex:1;
      margin:10px; 
    }

/* Form style*/

  .formular {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center ;
      align-items: center;
      margin-top: 0;     
  }
  
  form label,
  form input {
      left :20%;
      display: block;
      margin-bottom: 8px;     
      }
  
  form input {
      width: 330px;
      padding: 5px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
  }
  
  form input[type="submit"] {
      background-color:#e6a071;
      color: white;
      cursor: pointer;
      border-radius: 5px;
      
      }

p { 
  line-height: 1.5;
  margin-top: 10px;
  padding:2px;
  font-family: sans-serif, cursive ;
  font-size: 14px;
 text-align:center;
 color: darkslategray;
}

.contact-image {
   max-width: 100%;
   height:80%;
  
  
}

img { position:absolute;
  top:12%;
  left: 56%;
}

nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0; 
  display: flex;
  justify-content:space-between; 
  box-sizing: border-box;
  background-color: #e6a071;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 15px; 
}

nav ul li a {
  font-weight: bold;
  font-size: 20px;
  font-family: cursive;
  text-decoration: none;
  color: white;
}

nav a:hover {
  padding-left:10px; }

  footer {
      position: fixed;
      bottom: 0%;
      width: 100%;
      text-align: center;
      padding: 10px 0;
      background-color: #e6a071;
      color: #fff;
      
}

footer a:hover { padding-left: 10px;}

.fa-instagram, 
.fa-facebook ,
.fa-linkedin {
  
  color: white;
}

footer a { color:white;}

#nav a:link {

  text-decoration:none;
  font-weight:bold;

}

  #nav a:focus, #nav a:hover, #nav a:active {
      color:grey; }

      @media screen and (max-width: 860px) {
        .container {
          flex-direction: column;
        }
      
        article {
          margin-right: 0;
        }
        
        h1 {
            font-size: 30px;
            margin-top: 20px;
            margin-left: 20px;
            width:70%;
        }
      
        p {
          font-size: 100%;
          text-align: center;
          margin-bottom: 20px;
          margin-top: 20px;
        }
      
        img { position: relative;
              width: 100%;
              left:0%;
            }

        
      
      nav ul li a { 
        display: flex ;
        font-size: 15px; }

        form input {
          width: 280px;
           }
          
      


      
      form label,
      form input {
        
          display: block;
          margin-bottom: auto;
          padding: 4px;

    }

    footer { position: relative;
    font-size:13px;}

}