
body {                                         /* Body stlye*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #e6a071;
    overflow-x: hidden;    
    
}
 /* Header styling*/
header {
    display: flex;
    color: #e6a071;
    text-align: center;
    height:180px;   
}
  
h1 {
    position:relative;
    font-size: 40px;
    left: 3%;
    width: 100%;
    padding: 50px; 
    display: flex; 
    color: white;
    font-weight: bold;
    
}

h1 span {                              /* Source: WEBD5 ILS Hamburg*/
    display: inline-block;
    animation: fadeIn ease-out 5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* End of fade letters effect */

/*Navigation bar styling*/

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0; 
    display: flex;
    justify-content:space-between; 
    z-index:2;
}

/* Navigation link styling and state styling*/

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px; 
}

nav ul li a {
    font-weight: bold;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    color: #e6a071;
}

nav a:hover {
    padding-left:10px; }

 #nav a:link {
        color : white;
        text-decoration:none;
        font-weight:bold;
    
    }
 #nav a:visited { 
        color:white; }

  /* Container and columns styling */
.container {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    
}

.column {
    font-family: "Dancing script", cursive;
    flex: 1;
    margin: 10px;
    padding: 20px;
    overflow:hidden;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow:  grey 4px 4px 2px;
}



.column p { 
    font-family: sans-serif;
    line-height: 1.6;
    font-size: 15px;
    color: darkslategrey;
}

h2 { 
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}


.dancing-script-letter {                                  /* Source : https://fonts.google.com */
font-family: "Dancing Script", cursive;
font-style: normal;
}

/*  Images adjustment*/
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
/*Footer styles incl. links */

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #e6a071;
    color: #fff;
}

footer a:hover { padding-left: 10px;}


footer a { color:white;}

/* Smaller screens adjustment*/

    @media only screen and (max-width: 768px) {
        .container {
            flex-direction: column;
        }
    
    
        .column {
            flex: 100%;
            margin: 10px 0;
        }

        #nav { display: flex ;
            }
  
            h1 {
                position: relative;
                top : 0 ;
                left: 0 ;
                justify-content: space-between;
                text-align: center;
                display: flex;
                font-size: 30px;
                padding: 40px;
                
             }
    header {
        padding: 10px 0 5px 0; 
    }

    nav ul li a { 
        display: flex ;
        font-size: 0.8em;
        
    }
}
    

            
                    
                
       

            
            