body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: white;
  }

.dancing-script-letter {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-style: normal;
  color:darkslategrey;
}
 /* Heading positioning and styling*/
h1 {
  padding : 10px;
  font-size: 50px;
  text-align: center;

}
h1 span {
  display: inline-block;                          /* Source for fadeIn effect : WEBD5 book ILS school Hamburg*/
  animation: fadeIn ease-out 8s;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.container { display: flex;
  
}

article {  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  text-align: left;
}


p {
  line-height: 1.6;
  margin-bottom: 10px;
 font-family:'Poppins';
 font-size: 16px;
 text-align:justify;
 max-width: 800px; 
 color: darkslategray;
}

img { 
  max-width: 63%;
}
 /* Navigation bar ,links and link states style */
nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0; 
  display: flex;
  justify-content:space-between; 
  z-index: 2;
  box-sizing: border-box;
  background-color: #e6a071;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 15px; 
}

nav ul li a {
  font-weight: bold;
  font-size: 20px;
  font-family: sans-serif;
  text-decoration: none;
  color: white;
}

nav a:hover {
  padding-left:10px; }

  #nav a:link {
    text-decoration:none;
    font-weight:bold;
  }

 /* Footer style , incl. footer links styles */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background-color: #e6a071;
  color: white;
}

footer a { color:white;}

footer a :hover { 
  padding-left: 10px;
}

/* Smaller screens adjustment*/

      @media screen and (max-width: 960px) {
          .container {
            flex-direction: column;
          }
          article {
            margin-right: 0;
          }
          
          h1 {
            font-size: 40px;
          }
        
          p {
            font-size: 14px;
          }
        
          img {
            max-width: 100%;
          }
        
        nav ul li a { 
          display: flex ;
          font-size: 0.8em;

           }

        footer {
          font-size:13px;}
      }